body {
  font-family: "Inter", sans-serif;
  font-weight: normal;
  scroll-behavior: smooth;
  position: relative;
}
html,
body {
  // overflow-x: hidden;
}

a {
  color: #fe8c00;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
}

a:is(:hover, :focus) {
  color: #fe8c00;
}
button {
  cursor: pointer;
}
